html {
	height: 100%;
	width:100%;
}

body {
	margin: 0;
	height: 100%;
	min-height: 100%;
	background-color: #fff;
	/*max-width:99% !important;*/
	/*height:100% !important;*/
	font-size: 16px;
	font-family: Arial, Calibri;
	position:center;
}

#root-container {
	text-align: center;
	padding: 10px;
	width:100%;
	margin: 0;
	/*background: -webkit-linear-gradient(110deg, #a8a8a8, #d8d7d7);*/ /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(110deg, #a8a8a8, #d8d7d7);*/ /* For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(110deg, #a8a8a8, #d8d7d7);*/ /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(110deg, #a8a8a8, #d8d7d7); *//* Standard syntax */
}

#heading {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color:#A80000;
	background: #FFFFFF;
}

#heading_text {
	display :inline-block;
	font-size: 2.4em;
	font-weight: bold;
}

#heading_logo {
	display :inline-block;

	/*Below is just a hack. Not recomended*/
	float:right;
	padding-bottom: 20px;
}

#tabs_container {
	clear:both;	
}

#content {
	min-width:50%;
	display: inline-block;	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	/*padding-bottom: 10px;*/ /*disable for this particular jquery theme*/
}

/*=======================
 PAS BUILDs - Select Divs
 ========================*/
.selectors {
	vertical-align: top;
	padding: 20px;
}
.selectors > * {
	display: block;
	padding-bottom: 5px;
}
.selectorsLabel {
	font-size: .8em;
	font-family: verdana;
}

.selectors > * > div {
	display: inline-block;
}

.selectorGroupHeading {
	font-size: 1.05em;
	font-weight: bold;
	padding:10px;
}

/*=========================
 PAS BUILDs - Downlaod_Divs
 ==========================*/


#div_pasbuilds {
display: inline-block;
	text-align: left;
}
#info {
	clear:both;
	max-width: 100%;
}

#infoTableDiv {
	max-width:100%;
	text-align: center;
	padding: 20px;
}

#patches{
	max-width:100%;
	text-align: center;
	padding: 20px;
}

.infoTableCell {
	display: inline-block;
	padding: 5px;
}
.infoTableCell:hover {
	background-color: #826D4E;
	font-weight:bold;
}

.header_row, .data_row {
	width:auto;
	padding: 5px;
	max-width: 100%;
}

.header_cell, .data_cell {
	vertical-align: text-top;
	display: inline-block;
	padding: 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	min-height:100%;
}

.header_row {
	background-color: #826D4E;
	color: #fff;
}


.header_cell {
	font-weight: bold;
	text-transform: capitalize;
	/*word-wrap: break-word;*/
}

.data_row {
}
.data_row:hover {
	background-color: #FFFFCE;
	border-color: #aaa;
	border-bottom: 1px;
	border-width: 1px;
}


.data_cell {
	color: #131212;
	overflow-wrap: break-word;
}
.data_cell:hover {
	background-color: #E0E074;
}
.data_cell a {
	text-decoration: none;
	color: #F76565;
	cursor : pointer;
}
.data_cell a:hover {
	color: #E03131;
}
.data_cell a:visited {
	color: #737373;
}

.data_cell[data-cellDispType='regular'], .header_cell[data-cellDispType='regular'] {
	width:9%;
}
.data_cell[data-cellDispType='link'], .header_cell[data-cellDispType='link']{
	width:15%;
}
/* --- */

a.download {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #826D4E;
}
a.download:hover {
	color: #FFFFFF;
}

/*====
 Extras
 ====*/
hr { 
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.disabled {
	color: #bbb;
}
.disabled select {
	color: #bbb;
	border-color: #ddd;
	border-width: 1px;
}
/*.disabled input {
	color: #aaa;
	border-color: #ddd;
	border-width: 1px;
}*/

/*=========================
 DLL/CPC/GSPF DIVS
 ==========================*/

#dll{
	display:inline-block;
	padding: 15px;
}

#dll:hover{
	box-shadow: 2px 2px 2px #aaa;

}

#gspf_cpc{
	display:inline-block;	
	padding: 15px;
}

#gspf_cpc:hover{
	box-shadow: 2px 2px 2px #aaa;
}

#gspf{
	padding: 5px;
}

#gspf:hover{
	box-shadow: 2px 2px 2px #aaa;
}

#cpc{
	padding: 5px;
}

#cpc:hover{
	box-shadow: 2px 2px 2px #aaa;
}


/*====
	FOOTER / Kunal
 ===*/

#footer {

}

#footer_logo {
	padding: 10px;
}

.disabled_overlay {
/*	z-index:10;
	background: #aaa;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.63);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.63);
	box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.63);*/
	color : #bbb !important;
}